* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

header {
  background: goldenrod;
  color: black;
  padding: 20px;
  text-align: center;
  position: sticky;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 10px;
  background: white;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

.container {
  max-width: 900px;
  margin: 20px ;
  padding: 20px;
  background: white;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4a90e2;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #357ac8;
}
