body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.temp {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    width: 250px;
}

.temp div {
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}